* {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

button {
  width: 10%;
}

button:hover {
  cursor: pointer;
}

main {
  background-color: rgb(104, 101, 101);
  min-width: 300px;
  max-width: 800px;
  margin: 10% auto;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

select,
option {
  text-align: center;
  padding: 9px;
  width: 100%;
}

input {
  padding: 6px;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  border: 1px solid rgba(211, 203, 203, 0);
  outline: none;
}

input:focus {
  border: 1px solid black;
}

.equation-view {
  width: 100%;
  background-color: rgb(234, 234, 235);
  height: 40px;
  text-align: center;
  font-size: large;
}

.user-style {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: max-content;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

result {
  width: 100%;
  background-color: white;
}

result:hover {
  background-color: rgb(185, 185, 190);
  cursor: pointer;
  padding: 3px;
}
